body {
    background-color: black;
    color: white;
}

table {
    font-size: 50px;
}

.margincenter {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 3%;
    transform: translate(-50%, 0);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointer {
    cursor: pointer;
}

.restart{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menuitem {
    margin: 20px;
}

.dogbutton {
    border: 2px solid white;
}

.largetext{
    font-size:xx-large;
}

td {
    border: 2px solid white;
    background-color: #33363b;
    transition: border-color 200ms cubic-bezier(1,.45,.5,1);
    text-align: center;
}

.hover-blue:hover {
    border-color: #546bff;
}

.hover-red:hover {
    border-color: #bd0000;
}

.playpiece {
    background-color: white;
    height: 70px;
    width: 70px;
    user-select: none;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 100ms cubic-bezier(1,.45,.5,1);
}

.playanchor{
    cursor: pointer;
    margin: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.titillium-web-regular {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;
}

.tutorial{
    width:90%;
    height:90%;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:10;
    border-radius:1em;
    border: 2px solid white;
}

.closetutorial {
    position: absolute;
    top: 3%;
    left: 97%;
    transform: translate(-100%, 0);
}

.tutorialcontent{
    padding:20px;
    text-align:center;
}

    .tutorialcontent > p {
        text-align: left
    }